numerazione siti       0  1  2  3  4  5  6  7  8  9 10 11
findroot(i,labels)    -2  0 -4  2  3  4 -2  6 -4  8  9 10
atomo corrispondente   0  0  1  1  1  1  2  2  3  3  3  3
sito precedente           0     2  3  4     6     8  9 10

